/*********************
       GENERAL
*********************/

.m-wmc-container {
    /*min-width: 200px;*/
    color: #404040;
    width: 100%;
}

.m-wmc-container .dnone {
    display: none;
}

/*********************
     wmc TITLE
*********************/

.m-wmc-container>div.title {
    line-height: 40px;
    text-align: center;
    height: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, .13);
    font-size: 15px;
    background-color: #00897B !important;
    color: white;
    font-weight: 600;
}

/*********************
     wmc FORM
*********************/

.m-wmc-container div.form>div {
    margin-bottom: 10px;
}

.m-wmc-container input {
    max-width: 100%;
}

/****************************
      WMC TABS
 ****************************/

.m-wmc-container>div.tabs-border {
    border-bottom: 1px solid #ddd;
}

.m-wmc-container input.tabs {
    display: none;
}

.m-wmc-container input.tabs+label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 10px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.m-wmc-container input.tabs+label:hover {
    color: #888;
    cursor: pointer;
}

.m-wmc-container input.tabs:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #FF9800;
    border-bottom: 1px solid #fff;
}

.m-wmc-container>#tab-wcm-1:checked~#content-wmc-1,
.m-wmc-container>#tab-wcm-2:checked~#content-wmc-2 {
    display: block;
}

.m-wmc-container div.content-tab {
    display: none;
}

/* URL AND FILE */

.m-wmc-container div.form {
    width: 90%;
    margin: 10px auto;
}

.m-wmc-container div.form input[type="text"],
.m-wmc-container div.form input[type="file"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px;
    height: 20px;
    padding: 0px;
    color: initial;
}

.m-wmc-container div.form input:disabled {
    background-color: rgb(235, 235, 228);
}

/*********************
     BUTTONS
*********************/

.m-wmc-container div.button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table;
    background-color: #FFB74D;
}

.m-wmc-container div.button>button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    opacity: 0.75;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
    color: #404040;
}

.m-wmc-container div.button>button:hover:enabled {
    opacity: 1;
}

.m-wmc-container div.button>button:focus:enabled {
    outline: none;
}

.m-wmc-container div.button>button:before {
    font-size: 21px;
    margin-right: 10px;
}

.m-wmc-container div.button>button {
    width: 60%;
    margin: 10px 5% 10px 5%;
    padding: 5px;
    background-color: #fff;
    font-family: 'Muli', 'sans-serif' !important;
    cursor: pointer;
}

.m-wmc-container div.button>button:disabled {
    cursor: not-allowed
}

@-moz-document url-prefix() {
    .m-wmc-container div.button>button.print {
        margin: 10px 4% 10px 5%;
    }
}

.m-wmc-container div.button>button i {
    font-size: 20px;
    vertical-align: text-bottom;
}

.m-control>button {
    color: #404040;
}

/***************
       PANEL
***************/

.m-areas>div.m-area>div.m-panel.m-wmc {
    order: 1;
    border-top-right-radius: 0px;
}

.m-areas>div.m-area>div.m-panel.m-wmc.opened {
    border-top-left-radius: 0px;
}

.m-areas>div.m-area>div.m-panel.m-wmc.collapsed {
    order: 1;
    border-top-right-radius: 20px;
}

.m-areas>div.m-area>div.m-panel.m-wmc>button.m-panel-btn {
    background-color: #00897B;
    position: absolute;
    left: initial;
    color: #fff;
    z-index: 999999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.m-areas>div.m-area>div.m-panel.m-wmc.opened>button.m-panel-btn {
    left: -40px;
}

@media only screen and (max-width: 768px) {
    .m-areas>div.m-area>div.m-panel.m-wmc.opened>button.m-panel-btn {
        background-color: transparent;
        position: absolute;
        right: 0;
        left: initial;
        color: #fff;
        z-index: 999999;
        box-shadow: none;
    }
}

.m-areas>div.m-area>div.m-panel.m-wmc.collapsed>button.m-panel-btn {
    color: #00897B;
    position: inherit;
    right: 0;
    box-shadow: none;
}

/* ANIMATIONS */

.m-areas>div.m-area>div.m-panel.m-wmc {
    -webkit-transition: max-height .33s ease-in-out 0s;
    transition: max-height .33s ease-in-out 0s;
    max-height: 100vh;
}

.m-areas>div.m-area>div.m-panel.m-wmc.collapsed {
    -webkit-transition: max-height .33s ease-in-out 0s;
    transition: max-height .33s ease-in-out 0s;
    max-height: 40px;
}

.m-areas>div.m-area>div.m-panel.m-wmc>div.m-panel-controls {
    -webkit-transition: max-width .5s ease 0s, opacity .44s ease 0s;
    transition: max-width .5s ease 0s, opacity .44s ease 0s;
    background: white;
    width: 100%;
}

.m-wmc-container>.results-panel>div.results {
    -webkit-transition: max-height .33s ease-in-out 0s;
    transition: max-height .33s ease-in-out 0s;
}

.m-areas>div.m-area>div.m-panel.m-wmc.opened {
    width: 440px;
}

@media only screen and (max-width: 768px) {
    .m-areas>div.m-area>div.m-panel.m-wmc.opened {
        margin-left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 10000;
        overflow: auto;
    }
}